{% extends 'base.html' %}

{% block content %}


{% if content == "login" or content == "loginError" %}
{% if content == "loginError" %}
<h1 style="color:red">{{error}}</h1>
{% endif %}
<form class="row g-3" method="post" action="/" enctype="multipart/form-data">
  <div class="col-auto">
    <label for="username" class="visually-hidden">Email</label>
    <input name="username" type="text"  class="form-control" id="username" placeholder="Nombre de usuario" >
  </div>
  <div class="col-auto">
    <label for="password" class="visually-hidden">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
  </div>
</form>
{% endif %}

{% if usuarios|length > 0 %}
<form class="row g-3" method="post" action="/usuarios" enctype="multipart/form-data">
  <div class="col-auto">
    <label for="newUsername" class="visually-hidden">Email</label>
    <input name="newUsername" type="text" id="newUsername" class="form-control"  placeholder="Nombre de usuario" >
  </div>
  <div class="col-auto">
    <label for="newPassword" class="visually-hidden">Password</label>
    <input name="newPassword" type="password" class="form-control" id="newPassword" placeholder="Contraseña">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Crear</button>
  </div>
</form>
{% endif %}


{% if content == "logged"%}
<div>
    <h1>Bienvenido {{user[0][1]}}</h1>
</div>
{% endif %}

{% if content == "error" %}
<div>
    <h1 style="color:red">{{error}}</h1>
</div>
{% endif %}

{% if content == "usuario" %}
<h2> Vista individual del usuario {{usuario[0]}}</h2>
<p>Username: {{usuario[1]}}</p>
<p>Contraseña: {{usuario[2]}}</p>
{% endif %}

{% if usuarios|length > 0 %}
<h1 align="center">Lista de Usuarios</h1>

{% if exito == True %}
<p style="color:green">{{mensaje}}</p>
{% endif %}

<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Pass</td>
        <td>Ver</td>
        <td>Eliminar</td>
    </tr>
    {% for usuario in usuarios: %}
    <tr>
        <td>{{ usuario[0] }}</td>
        <td>{{ usuario[1] }}</td>
        <td>{{ usuario[2] }}</td>
        <td><a href="/usuarios/{{usuario[0]}}">Ver</a></td>
        <td><a href="/usuarios/{{usuario[0]}}/borrar" methods="DELETE">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if recetas|length> 0 %}
<h1 align="center">Lista de Recetas</h1>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Puntuacion</td>
        <td>Descripcion</td>
    </tr>
    {% for receta in recetas: %}
    <tr>
        <td>{{ receta[0] }}</td>
        <td>{{ receta[1] }}</td>
        <td>{{ receta[3] }}</td>
        <td>{{ receta[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if ingredientes|length> 0 %}
<h1 align="center">Lista de Ingredientes</h1>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripcion</td>
    </tr>
    {% for ingrediente in ingredientes: %}
    <tr>
        <td>{{ ingrediente[0] }}</td>
        <td>{{ ingrediente[1] }}</td>
        <td>{{ ingrediente[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}