{% extends 'base.html' %}

{% block content %}


{% if content == "login" %}
<form class="row g-3" method="post" action="/" enctype="multipart/form-data">
  <div class="col-auto">
    <label for="username" class="visually-hidden">Email</label>
    <input name="username" type="text"  class="form-control" id="username" placeholder="Nombre de usuario" >
  </div>
  <div class="col-auto">
    <label for="password" class="visually-hidden">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
  </div>
</form>
{% endif %}

{% if content == "logged"%}
<div>
    <h1>Bienvenido {{user[0][1]}}</h1>
</div>
{% endif %}
{% if content == "error" %}
<div>
    <h1 style="color:red">{{error}}</h1>
</div>
{% endif %}

{% if usuarios|length > 0 %}
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Pass</td>
    </tr>
    {% for usuario in usuarios: %}
    <tr>
        <td>{{ usuario[0] }}</td>
        <td>{{ usuario[1] }}</td>
        <td>{{ usuario[2] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if recetas|length> 0 %}
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Puntuacion</td>
        <td>Descripcion</td>
    </tr>
    {% for receta in recetas: %}
    <tr>
        <td>{{ receta[0] }}</td>
        <td>{{ receta[1] }}</td>
        <td>{{ receta[3] }}</td>
        <td>{{ receta[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}