{% extends 'base.html' %}

{% block content %}



{% if content == "logged" %}
<p>Bienvenido {{user}}</p>
{% endif %}
{% if content == "registered" %}
<p>Usuario creado, Bienvenido {{user}}</p>
{% endif %}

{% if content == "recetas" %}
<h1 align="center">Lista de Recetas</h1>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Puntuacion</td>
        <td>Descripcion</td>
    </tr>
    {% for receta in recetas: %}
    <tr>
        <td>{{ receta[0] }}</td>
        <td>{{ receta[1] }}</td>
        <td>{{ receta[3] }}</td>
        <td>{{ receta[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if content == "ingredientes" %}
<h1 align="center">Lista de Ingredientes</h1>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripcion</td>
    </tr>
    {% for ingrediente in ingredientes: %}
    <tr>
        <td>{{ ingrediente[0] }}</td>
        <td>{{ ingrediente[1] }}</td>
        <td>{{ ingrediente[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}