{% extends 'base.html' %}

{% block content %}



{% if content == "logged" %}
<p>Bienvenido {{user}}</p>
{% endif %}
{% if content == "registered" %}
<p>Usuario creado, Bienvenido {{user}}</p>
{% endif %}
{% if content == "claveCambiada" %}
<p>Se modificó la contraseña satisfactoriamente</p>
{% endif %}

{% if content == "modificarUsuario" %}
<p>Modificar contraseña</p>
<p>ID : {{usuario[0]}}</p>
<p>Nombre de usuario : {{usuario[1]}}</p>
<p>Contraseña : {{usuario[2]}}</p>
<br>
<form method="post" action="/usuario/modificar">
    <label for="txtClave">Nueva contraseña</label>
    <input id="txtClave" name="txtClave">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Cambiar</button>
    </div>
</form>
<form class="fixed-bottom" method="post" action="/usuario/eliminar">
    <label>¿Eliminar usuario?</label>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">ELIMINAR</button>
    </div>
</form>
{% endif %}



{% if content == "ingredientes" %}
<h1 align="center">Lista de Ingredientes</h1>


<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripcion</td>
    </tr>
    {% for ingrediente in ingredientes: %}
    <tr>
        <td>{{ ingrediente[0] }}</td>
        <td>{{ ingrediente[1] }}</td>
        <td>{{ ingrediente[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}





{% endblock %}